<div class="box2">
    <div class="caroufredsel_slider1_wrapper">
        <a class="prev1" href="index.html#"></a>
        <a class="next1" href="index.html#"></a>
        <ul id="caroufredsel_slider1" class="clearfix">
            <li>
                <div class="caroufredsel_slide1"> <img src="images/slider/slide01.jpg" alt="Slider2" class="img">
                    <div class="txt1">Accompagnement Périnatal</div>
                </div>
            </li>
            <li>
                <div class="caroufredsel_slide1"> <img src="images/slider/slide02.jpg" alt="Slider2" class="img">
                    <div class="txt1">Accompagnement Parental</div>
                </div>
            </li>
            <li>
                <div class="caroufredsel_slide1"> <img src="images/slider/slide03.jpg" alt="Slider3" class="img">
                    <div class="txt1">Atelier Massage et Bien-être</div>
                </div>
            </li>
        </ul>
        <div class="pagination1" id="caroufredsel_pag1"></div>
    </div>
</div>

