<div class="row">
    <div class="col-md-12">
        <!-- START NEWS -->
        <div class="news">
            <div class="news_title">Formule Simple</div>
            <div class="date1 clearfix">
                <div class="txt1 c4">1
                    <br><span>séance</span></div>
                <div class="txt2">
                    <h5><a href="#">Curabitur conva</a></h5>
                    <p>Maecenas ac est hendrerit magi aliquam erat.</p>
                </div>
            </div>
            <div class="date1 clearfix">
                <div class="txt1 c2">30
                    <br><span>Minutes</span></div>
                <div class="txt2">
                    <h5><a href="#">Convallis inter</a></h5>
                    <p>Maecenas ac est hendrerit magi aliquam erat.</p>
                </div>
            </div>
            <div class="date1 clearfix">
                <div class="txt1 c3">18
                    <br><span>mar</span></div>
                <div class="txt2">
                    <h5><a href="#">Interdum hednd</a></h5>
                    <p>Maecenas ac est hendrerit magi aliquam erat.</p>
                </div>
            </div>
        </div>
        <!-- END NEWS -->
    </div>
</div>

